<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<!--    User业务接口-->
    <bean id="userService" class="com.zzy.service.impl.UserServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!--    Files业务接口-->
    <bean id="filesService" class="com.zzy.service.impl.FilesServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!--    worklog业务接口-->
    <bean id="worklogService" class="com.zzy.service.impl.WorklogServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!--    Files业务接口-->
    <bean id="bornInfoService" class="com.zzy.service.impl.BornInfoServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!--    Files业务接口-->
    <bean id="classicService" class="com.zzy.service.impl.ClassicServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	
	<!-- 省 -->
	<bean id="provinceService" class="com.zzy.service.impl.ProvinceServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- 市 -->
	<bean id="cityService" class="com.zzy.service.impl.CityServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- 地区 -->
	<bean id="areaService" class="com.zzy.service.impl.AreaServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 地区 详情-->
	<bean id="districtService" class="com.zzy.service.impl.DistrictServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- 系统配置 -->
	<bean id="sysConfigureService" class="com.zzy.service.impl.SysConfigureServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- 通讯录 -->
	<bean id="txlService" class="com.zzy.service.impl.TxlServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- 通讯录分组 -->
	<bean id="txlGroupService" class="com.zzy.service.impl.TxlGroupServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- z邮件 -->
	<bean id="zmailService" class="com.zzy.service.impl.ZmailServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	<!-- z邮件收件关系 -->
	<bean id="zmailRelationShipService" class="com.zzy.service.impl.ZmailRelationShipServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	
	<!--    Util工具业务接口-->
    <bean id="utilService" class="com.zzy.service.impl.UtilServiceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="basedao" ref="basedao"></property>
	</bean>
	
</beans>